<% template main %>
<% if one %>
	one
<% elif two %>
	two
<% elif three %>
	three
<% else %>
	none
<% end %>
<% foreach x in y %>
	<ul>
	<% item %>
		<li>Hello <% x.somethin %></li>
		<% foreach bbb in x.other %>
			<% item %><% bbb.a %><% bbb.b %><% end %>
		<% end %>
	<% end %>
	<ul>

<% empty %>
	None
<% end %>
