<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Admin Protal</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="<% media  %>/adminstyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<div id="logout">
        <p><a href="<% base_url %>">Blog</a> | <a href="<% admin_url %>">Admin</a> | <a href="<%logout_url%>">Logout</a></p>
</div>
<h1><a href="<% base_url %>"><% blog_name %></a></h1>
<h2>Administration Panel</h2>
</div>

<% include ref master_content %>

<div id="footer">
<p>
CppBlog is a high performance blog written in C++.
</p>
<p>
This software is availible under GNU GPL Licence, &copy; Artyom Tonkikh.
</p>
</div>
</body>
</html>
