<% template a(x,y) %>A<% x %><% y %><% end %>
<% template b(xx,yy,zz) %>B<% xx %><% yy %><% zz %><% end %>
<% template c() %><% if eq x1 x2 %><% include a using x1,x2 %><%else%><% include b using x1,x2,x3 %><% end %><% end %>
<% template d() %><% if not eq x1 x2 %><% include a using x1,x2 %><%else%><% include b using x1,x2,x3 %><% end %><% end %>
<% template main() %>
<% if def str %>
	Escaped: <% str %>
<% end %>
Raw: <% str | raw %>
Escaped: <% str | escape %>
Full Date: <% d %>
Date: <% d | date %>
Time: <% d | time %>
Time Seconds: <% d | timesec %>
Timef '< %D, %Y >': <% d | strftime('\l%D, \'%Y\'\r') %>
Timef escaped '< %D, %Y >': <% d | strftime('\l%D, \'%Y\'\r') | escape %>
int dec <% i %>
int hex <% i | intf('%x') %>
int hexupper <% i | intf('%x') | ext toupper %>
Complex <% c %>
Complex toupper <% c | ext toupper %>
Typename <% c | ext typename('The type is:') %>
<% include c %>
<% include d %>
<% end %>
