<% namespace admin_view %>
<% class admin_editcomment uses data::admin_editcomment extends admin_base %>
<% template master_content() %>
<div id="form">
<h2><% gt "Edit Comment No." %><% id %></h2>
<form id="inp" action="" method="post" >
        <table>
	<% xhtml %>
	<% form as_table form.author %>
	<% form as_table form.email %>
	<% form as_table form.url %>
	</table>
	<p>
                <fieldset><div> <!-- IE Textarea ugly hack -->
                        <textarea name="content" cols="80" rows="10"><% form.content.value %></textarea>
                </div></fieldset>
        </p>
	<p>	<% form input form.save %>
                <input type="submit" name="<% form.del.name %>" value="<% form.del.value %>" onclick="return confirm('<% gt "Are you shure?" %>');" />
        </p>
</form>
</div>
<% end template %>
<% end class %>
<% end namespace %>
