<% namespace admin_view %>
<% class admin_editcomment uses data::admin_editcomment extends admin_base %>
<% template master_content() %>
<div id="form">
<h2><% gt "Edit Comment No." %><% id %></h2>
<form id="inp" action="" method="post" >
	<% xhtml %>
        <table>
	<% form as_table form.fields %>
	<tr><th>&nbsp;</th><td><% form input form.save %><% form input form.del %></dt></tr>
        </table>
</form>
</div>
<% end template %>
<% end class %>
<% end namespace %>
