<% namespace admin_view %>
<% class admin_setupblog uses data::admin_setupblog extends admin_base %>
<% template master_content() %>
<% if password_error %>
	<center>
		<p><strong>
		<% gt "The passwords are not identical!" %>
		</strong></p>
	</center>
<% end %>
<% if configured %>
	<h2><% gt "Configuration is complete" %></h2>
<% else %>
	<% if field_error %>
	<p><% gt "Not all fields are filled" %></p>
	<% end %>
	<form action="<% submit %>" method="post" >
	<dl>
	<dt><% gt "Blog Name:" %></dt>
	<dd><input  type="text" name="name" /></dd>
	<dt><% gt "Blog Description:" %></dt>
	<dd><input  type="text" name="description" /></dd>
	<dt><% gt "Username:" %></dt>
	<dd><input  type="text" name="author" /></dd>
	<dt><% gt "Password:" %></dt>
	<dd><input  type="password" name="pass1" /></dd>
	<dt><% gt "Confirm Password:" %></dt>
	<dd><input  type="password" name="pass2" /></dd>
	<dl>
	<p><input type="submit" value="<% gt "Submit" %>" /></p>
<% end %>
<% end template %>
<% end class %>
<% end namespace %>
