<% namespace admin_view %>
<% class admin_editcontent uses data::admin_editcontent extends admin_base %> 
<% template specific_test() %><% end %> 
<% template pre_content() %><% end %>
<% template post_content() %><% end %>
<% template master_content() %>
<script type="text/javascript">
<!--
	/*  Form validation and simple-antispam */
	function testform()
	{
		var form=document.getElementById('inp');
		<% include specific_test() %>
		if(form.title.value.length == 0)
		{
			alert('<% gt "Title is mandatory!" %>');
			return false;
		}
		else {
			return true;
		}
	}
	function switchvis(id)
	{
		val=document.getElementById(id).style.display;
		if(val=='inline') 
			val='none';
		else
			val='inline';
		document.getElementById(id).style.display=val;
	}
-->
</script>
<div id="form">
<% include edit_title() %>

<form id="inp" action="<% submit_post_url | raw %>" method="post" onsubmit="return testform();" >
        <dl>
        <dt><% gt "Title:"%></dt>
        <dd><input type="text" name="title" size="80" value="<%post_title%>" /></dd>
	<% include pre_content() %>
        <dt><% gt "Content:" %></dt>
        <dd>
                <fieldset><div> <!-- IE Textarea ugly hack -->
                        <textarea name="content" cols="80" rows="20"><% content %></textarea>
                </div></fieldset>
        </dd>
        <dd>
                <input type="submit" name="save" value="<% gt "Save" %>" />
                <input type="submit" name="preview" value="<% gt "Save and Continue" %>" />
                <% if not is_open %>
               		<input type="submit" name="publish" value="<% gt "Publish" %>" />
               	<% else %>
               		<input type="submit" name="unpublish" value="<% gt "Unpublish" %>" />
               	<% end %>
                <% if (content.post_id!=-1) %>
                <input type="submit" name="delete" value="<% gt "Delete" %>"
                	onclick="return confirm('<% gt "Are you shure?" %>');" />
                <% end %>
        </dd>
        </dl>
</form>
	<% include post_content() %>
</div>
<% end %>

<% end class %>

<% class admin_editpost uses data::admin_editpost extends admin_editcontent %>

<% template specific_test() %>
	if(form.abstract.value.length == 0)
	{
		alert('<% gt "Abstract is mandatory!" %>');
		return false;
	}
	else {
		return true;
	}
<% end %> 

<% template edit_title() %>
<% if (content.post_id!=-1) %>
<h2><%gt "Edit Post No." %><% post_id %></h2>
<p><a href="<% preview_url | raw %>"><% gt "preview..." %></a></p>
<% else %>
<h2><% gt "New Post" %></h2>
<% end %>
<% end template %>
<% template pre_content() %>
	<dt><% gt "Categories:" %></dt>
	<dd>
		<p>
		<% foreach cat in cats_in %>
		<% gt "The post is published under catergories:"%>
		<% separator %>, <% item %><% cat.name %><% end %>
		<% empty %>
		<% gt "No categories assigned to this post."%>
		<% end %>
		<a href="javascript:switchvis('editcats');"><% gt "(click to edit)" %></a>
		</p>
		<div id="editcats" style="display:none" >
		<% foreach cat in cats_in %>
			<p><strong><% gt "Remove From Categories:" %></strong></p>
			<ul class="catlist">
			<% item %>
			<li><input type="checkbox" name="del" value="<% cat.id %>"> <% cat.name %></li>
			<% end %>
			</ul>
		<% end %>
		<% foreach cat in cats_out %>
			<p><strong><% gt "Add To Categories:" %></strong></p>
			<ul class="catlist">
			<% item %>
			<li><input type="checkbox" name="add" value="<% cat.id %>"> <% cat.name %></li>
			<% end %>
			</ul>
		<% end %>
		</div>		
	</dd>
        <dt><% gt "Abstract:"%></dt>
        <dd>
                <fieldset><div> <!-- IE Textarea ugly hack -->
                        <textarea name="abstract" cols="80" rows="10"><% abstract %></textarea>
                </div></fieldset>
        </dd>
<% end template %>
<% template post_content() %>
	<% if is_open %>
	<h2><% gt "Send Trackback:" %></h2>
	<form action="<% send_trackback_url %>" method="post">
	<p><% gt "Trackback URL:" %>
		<input type="text" name="url" size="40" />
		<input type="hidden" name="id" value="<% post_id %>" />
	</p>
	<p><input type="submit" name="send" value="<% gt "Send" %>" /></p>
	</form>
	<% end %>
<% end template %>
<% end class %>

<% class admin_editpage uses data::admin_editpage extends admin_editcontent %>

<% template specific_test() %>
	if(form.content.value.length == 0)
	{
		alert('<% gt "Content is mandatory!" %>');
		return false;
	}
	else {
		return true;
	}
<% end %> 

<% template edit_title() %>
<% if (content.post_id!=-1) %>
<h2><%gt "Edit Page No." %><% post_id %></h2>
<p><a href="<% preview_url | raw %>"><% gt "preview..." %></a></p>
<% else %>
<h2><%gt "New Page" %></h2>
<% end %>
<% end template %>

<% end class %>
<% end namespace %>
