<% namespace admin_view %>
<% class admin_editoptions uses data::admin_editoptions extends admin_base %>
<% template admin_editoptions() %>
<h2><% gt "Options" %></h2>
<form action="<% post_options_url %>" method="post" >
<dl>
	<dt><% gt "Blog Name:" %></dt>
	<dd><input  type="text" name="name" value="<% blog_name %>" size="40"/></dd>
	<dt><% gt "Blog Description:" %></dt>
	<dd><input  type="text" name="desc" value="<% blog_description %>" size="40" /></dd>
	<dt><% gt "Contact:" %></dt>
	<dd><input  type="text" name="contact" value="<% blog_contact %>" size="40" /></dd>
	<dt><% gt "Copyright Text (markdown):" %></dt>
	<dd><textarea name="copyright" cols="40" rows="10"><% copyright_string %></textarea></dd>
</dl>
<p><input type="submit" value="<% gt "Save" %>" /></p>
</form>
<% end template %>
<% end class %>
<% end namespace %>
