<% namespace vary %>
<% class main_page uses data::main_page extends master %>
<% template master_content() %>
<% if not empty category_name %>
		<h1 class="categorytitle" ><% gt "Posts in category &#8216;%1%&#8217;." using category_name %></h1>
<% end %>
<% foreach post in posts %>
	<% item %>
		<h1><a href="<% post.permlink | raw %>"><% post.title %></a></h1>
		<div class="published">
			<% gt "%1%, by %2% " using post.date | strftime("%d/%m/%y"), post.author %>;
	<% foreach cat in post.post_cats %>
		<% gt "Posted in:" %> 
		<% separator %>, <% item %><a href="<% cat.url %>"><% cat.name %></a><% end %>;
	<% end %>
	<a href="<% post.permlink | raw %>#comments_pos"><% ngt "one comment","%1% comments", post.comment_count using post.comment_count %></a>			<% if not empty post.edit_url %>
				| <a href="<% post.edit_url | raw %>"><% gt "edit" %></a>
			<%end%>
		</div>
		<% post.abstract | ext latex | ext markdown2html %>
                <% if post.has_content %>
                        <a href="<% post.permlink | raw %>#more"><% gt "more..." %></a>
                <% end %>
	<% end %>
	<% if not empty next_page_link %>
                <div class="nextpage">
                        <a href="<% next_page_link | raw %>"><% gt "next page" %></a>
                </div>
        <% end %>
<% empty %>
	<% if not empty category_name %>
		<h1><% gt "There are not posts in category &#8216;%1%&#8217;" using category_name %></h1>
	<% else %>
		<h1><% gt "There are no posts in the blog" %></h1>
	<% end %>
<%end%>
<% end template %>
<% end class %>
<% end namespace %>
