<% template error() %>
<h1><% gt 'Error' %></h1>
<% if error_404 %>
	<p><% gt 'The page you had looked for not found' %></p>
<% elif error_comment %>
	<p><% gt 'Not all mandatory fields were filled:' %></p>
	<ul>
		<li><% gt 'Name' %></li>
		<li><% gt 'E-Mail, it will not be disclosed in the comment text' %></li>
		<li><% gt 'Message Body' %></li>
	</ul>
	<p><% gt 'Press "back" browser button and fix the form' %></p>
<% end %>
<% end %>
