<% c++ #include "data.h" %>
<% namespace vary %>
<% class master uses data::master %>
<% template render() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><% include title() %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="<% media %>/style.css" rel="stylesheet" type="text/css" />
	<link href="<% media %>/style-<% if rtl %>rtl<% else %>ltr<%end%>.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1><% include title() %></h1>
	<% include body() %>
</body>
</html>
<% end template %>
<% template title() %><% gt "Wellcome Forum powered by CppCMS!"  %><% end template %>
<% template body() %><% end %>
<% end class %>
<% end namespace %>

