<% namespace admin_view %>
<% class admin_sendtrackback uses data::admin_sendtrackback extends admin_base %>
<% template master_content() %>
<% if error_no_url %>
	<h2><% gt "No url given" %></h2>
<% else %> 
	<% if success %>
		<p><% gt "The trackback was send sucessefully" %></p>
	<% else %>
		<p><% gt "The send had failed with following message: %1%" using error_message %></p>
	<% end %>
<% end %>
<p><a href="<% goback %>"><% gt "Press here to return to post." %></a></p>
<% end %>
<% end %>
<% end %>
