<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Admin Protal</title>
<link href="adminstyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<div id="logout"><a href="#">Logout</a></div>
<h1><a href="#">Your Blog</a></h1>
<h2>Administration Panel</h2>
</div>
<div id="menu">
        <h2>Tasks</h2>
        <ul>
                <li><a href="#">To The Blog</a></li>
                <li><a href="#">New Post</a></li>
                <li><a href="#">Edit Posts</a></li>
                <li><a href="#">Edit Comments</a></li>
                <li><a href="#">Moderate New Comments</a></li>
                <li><a href="#">Edit Options</a></li>
        </ul>
        <h2>Unpublished Posts</h2>
        <ul>
                <li><a href="#">First Draft</a></li>
                <li><a href="#">Personal</a></li>
        </ul>
</div>
<div id="news">
<h2>Latest Comments</h2>
        <ul>
                <li><a href="#">Artyom</a> on <a href="#">Cool Article</a></li>
                <li><a href="#">Maxim</a> on <a href="#">Best Article</a></li>
                <li><a href="#">Eidth</a> on <a href="#">Best Article</a></li>
        </ul>
<h2>Wait For Moderation</h2>
        <ul>
                <li><a href="#">Artyom</a> on <a href="#">Cool Article</a></li>
                <li><a href="#">Maxim</a> on <a href="#">Best Article</a></li>
                <li><a href="#">Eidth</a> on <a href="#">Best Article</a></li>
        </ul>
</div>
<div id="footer">
<p>
CppBlog is a high performance blog written in C++. &copy; Artyom Tonkikh.
</p>
<p>
This software is availible under GNU GPL Licence.
</p>
</div>
</body>
</html>
