<div id="menu">
        <h2>Tasks</h2>
        <ul>
                <li><a href="<% base_url %>">To The Blog</a></li>
                <li><a href="<% new_post_url %>">New Post</a></li>
<!--                <li><a href="#">Edit Posts</a></li>
                <li><a href="#">Edit Comments</a></li>
                <li><a href="#">Moderate New Comments</a></li>
                <li><a href="#">Edit Options</a></li>  -->
        </ul>
        <h2>Unpublished Posts</h2>
<p>TODO</p>
<!--        <ul>
                <li><a href="#">First Draft</a></li>
                <li><a href="#">Personal</a></li>
        </ul> -->
</div>
<div id="news">
<h2>Latest Comments</h2>
<p>TODO</p>
<!--        <ul>
                <li><a href="#">Artyom</a> on <a href="#">Cool Article</a></li>
                <li><a href="#">Maxim</a> on <a href="#">Best Article</a></li>
                <li><a href="#">Eidth</a> on <a href="#">Best Article</a></li>
        </ul>-->
<h2>Wait For Moderation</h2>
<p>TODO</p>
<!--        <ul>
                <li><a href="#">Artyom</a> on <a href="#">Cool Article</a></li>
                <li><a href="#">Maxim</a> on <a href="#">Best Article</a></li>
                <li><a href="#">Eidth</a> on <a href="#">Best Article</a></li>
        </ul> -->
</div>