<% template admin_login() %>
<form action="<% login_url %>" method="post">
	<center>
		<div style="padding:50px; font-size:200%;">
			<table style="text-align:left" >
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td><input type="submit" value="Login" /></td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</center>
</form>
<% end %>
