<% template admin_main() %>
<div id="menu">
        <h2><% gt 'Tasks' %></h2>
        <ul>
                <li><a href="<% base_url | raw %>"><% gt 'To The Blog' %></a></li>
                <li><a href="<% new_post_url | raw  %>"><% gt 'New Post' %></a></li>
                <li><a href="<% new_page_url | raw  %>"><% gt 'New Page' %></a></li>
<!--                <li><a href="#">Edit Posts</a></li>
                <li><a href="#">Edit Comments</a></li>
                <li><a href="#">Moderate New Comments</a></li>
                <li><a href="#">Edit Options</a></li>  -->
        </ul>
        <h2><% gt 'Unpublished Posts' %></h2>
        <% foreach post in posts %>
	        <ul>
        	<% item %>
			<li><a href="<% post.edit_url | raw %>"><% post.title %></a></li>
		<% end %>
		</ul>
	<% empty %>
		<p><% gt 'No unpublished posts' %></p>
	<% end%>
        <h2><% gt 'Pages' %></h2>
        <% foreach page in pages %>
	        <ul>
        	<% item %>
			<li><a href="<% page.edit_url | raw %>"><% page.title %></a><% if not page.published %> <% gt '(not published)' %><%end%></li>
		<% end %>
		</ul>
	<% empty %>
		<p><% gt 'No pages' %></p>
	<% end%>
</div>
<div id="news">
<h2><% gt 'Latest Comments' %></h2>
        <% foreach comment in comments %>
	        <ul>
        	<% item %>
			<li><a href="<% comment.post_permlink | raw %>"><% comment.username %></a>, 
			    <a href="<% comment.edit_url | raw %>"><% gt 'edit' %></a></li>
		<% end %>
		</ul>
	<% empty %>
		<p><% gt 'No comments' %></p>
	<% end%>
<h2><% gt 'Wait For Moderation' %></h2>
<p><% gt 'TODO' %></p>
<!--        <ul>
                <li><a href="#">Artyom</a> on <a href="#">Cool Article</a></li>
                <li><a href="#">Maxim</a> on <a href="#">Best Article</a></li>
                <li><a href="#">Eidth</a> on <a href="#">Best Article</a></li>
        </ul> -->
</div>
<% end %>
