<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Admin Protal</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="adminstyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<div id="logout">
        <p><a href="#">Blog</a> | <a href="#">Admin</a> | <a href="#">Logout</a></p>
</div>

<h1><a href="#">CppCMS Blog</a></h1>
<h2>Administration Panel</h2>
</div>
<!--

<div id="menu">
        <h2>Tasks</h2>
        <ul>
                <li><a href="#">To The Blog</a></li>
                <li><a href="#">New Post</a></li>
                <li><a href="#">Edit Posts</a></li>
                <li><a href="#">Edit Comments</a></li>
                <li><a href="#">Moderate New Comments</a></li>
                <li><a href="#">Edit Options</a></li>
        </ul>
        <h2>Unpublished Posts</h2>
        <ul>
                <li><a href="#">First Draft</a></li>
                <li><a href="#">Personal</a></li>
        </ul>
</div>
<div id="news">
<h2>Latest Comments</h2>
        <ul>
                <li><a href="#">Artyom</a> on <a href="#">Cool Article</a></li>
                <li><a href="#">Maxim</a> on <a href="#">Best Article</a></li>
                <li><a href="#">Eidth</a> on <a href="#">Best Article</a></li>
        </ul>
<h2>Wait For Moderation</h2>
        <ul>
                <li><a href="#">Artyom</a> on <a href="#">Cool Article</a></li>
                <li><a href="#">Maxim</a> on <a href="#">Best Article</a></li>
                <li><a href="#">Eidth</a> on <a href="#">Best Article</a></li>
        </ul>
</div>

-->


<div id="form">
<h2>New Post</h2>
	<script type="text/javascript">
	<!--
                /*  Form validation and simple-antispam */
                function testform() 
                {
                        var form=document.getElementById('inp');
                        if(form.title.value.length == 0 || form.abstract.value.length  == 0)
                        {
                                alert('Title and Abstract are mandatory!');
                                return false; 
                        }
                        else {
                                return true;
                        }
                }
	-->
	</script>

<form id="inp" action="#" method="post" onsubmit="return testform();">
        <dl>
        <dt>Title:</dt>
        <dd><input type="text" name="title" size="80" /></dd>
        <dt>Abstract:</dt>
        <dd>
                <textarea name="abstract" cols="80" rows="10"></textarea>
        </dd>
        <dt>Content:</dt>
        <dd>
                <textarea name="content" cols="80" rows="20"></textarea>
        </dd>
        <dd>
                <input type="submit" value="Save" />
                <input type="submit" value="Publish" />
                <input type="submit" value="Preview" />
        </dd>
        </dl>
</form>
</div>
<div id="footer">
<p>
CppBlog is a high performance blog written in C++.
</p>
<p>
This software is availible under GNU GPL Licence, &copy; Artyom Tonkikh.
</p>
</div>
</body>
</html>
