<% template admin_editpost() %>
<script type="text/javascript">
<!--
	/*  Form validation and simple-antispam */
	function testform()
	{
		var form=document.getElementById('inp');
		if(form.title.value.length == 0 || form.abstract.value.length  == 0)
		{
			alert('<% gt 'Title and Abstract are mandatory!' %>');
			return false;
		}
		else {
			return true;
		}
	}
-->
</script>
<div id="form">
<% if def post_id %>
<h2><% gt 'Edit Post No.' %> <% post_id %></h2>
<p><a href="<% preview_url | raw %>"><% gt 'preview...' %></a></p>
<% else %>
<h2><% gt 'New Post' %></h2>
<% end %>

<form id="inp" action="<% submit_post_url | raw %>" method="post" onsubmit="return testform();">
        <dl>
        <dt><% gt 'Title:'%></dt>
        <dd><input type="text" name="title" size="80" <% if def post_title %>value="<%post_title%>"<% end %> /></dd>
        <dt><% gt 'Abstract:'%></dt>
        <dd>
                <fieldset><div> <!-- IE Textarea ugly hack -->
                        <textarea name="abstract" cols="80" rows="10"><% if def abstract %><% abstract %><% end %></textarea>
                </div></fieldset>
        </dd>
        <dt><% gt 'Content:' %></dt>
        <dd>
                <fieldset><div> <!-- IE Textarea ugly hack -->
                        <textarea name="content" cols="80" rows="20"><% if def content %><% content %><% end %></textarea>
                </div></fieldset>
        </dd>
        <dd>
                <input type="submit" name="save" value="<% gt 'Save' %>" />
                <input type="submit" name="publish" value="<% gt 'Publish' %>" />
                <input type="submit" name="preview" value="<% gt 'Preview' %>" />
        </dd>
        </dl>
</form>
</div>
<% end %>
