<% template feed_posts() %>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
	<title><% blog_name %></title>
	<link>http://<% host %><% base_url %></link>
	<description><% blog_description %></description>
	<atom:link 
		href="http://<% host %><% rss_posts %>" 
		rel="self" type="application/rss+xml" />
	<% foreach post in posts %>
		<% item %>
		<item>
			<title><% post.title %></title>
			<link>http://<% host %><% post.permlink %></link>
			<guid>http://<% host %><% post.permlink %></guid>
			<description>
			<% post.abstract %>
			&lt;p&gt;
			&lt;a href="<% post.permlink %>"&gt;more...&lt;/a&gt;
			&lt;/p&gt;
			</description>
		</item>
		<% end %>
	<% end %>
</channel>
</rss>
<% end %>
