<% template main_page() %>
<% foreach post in posts %>
	<% item %>
		<h1><a href="<% post.permlink | raw %>"><% post.title %></a></h1>
		<div class="published">
			<% gt 'Publushed at %1%, by %2%' using post.date | strftime('%H:%M %d/%m/%y'), post.author %>
			<% if def post.edit_url %>
				| <a href="<% post.edit_url | raw %>"><% gt 'edit' %></a>
			<%end%>
		</div>
		<% post.abstract | ext latex | ext markdown2html %>
                <% if post.has_content %>
                        <a href="<% post.permlink | raw %>#more"><% gt 'more...' %></a>
                <% end %>
	<% end %>
	<% if def next_page_link %>
                <div class="published">
                        <a href="<% next_page_link | raw %>"><% gt 'next page' %></a>
                </div>
        <% end %>
<% empty %>
	<h1><% gt 'There are no posts in the blog' %></h1>
<%end%>
<% end %>
