<% call get_post %>
<%if next_post %>
	<% repeat %>
        <div class="post">
                <h1><a href="<% post_permlink %>"><% post_title %></a></h1>
                <% post_abstract %>
                <% if has_content %>
                        <a href="<% post_permlink %>#more">more...</a>
                <% end %>
        </div>
	<% call get_post %>
	<% until not next_post %>
	<% if def next_page_link %>	
                <div style="text-align:right; text-size:80%;">
                        <a href="<% next_page_link %>">next page</a>
                </div>
        <% end %>
<% else %>
	<h2>There are no posts in the blog</h2>
<%end%>
