<% template master() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><% blog_name %><% if def subtitle %> :: <% subtitle %><% end %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<% media | raw %>/style.css" rel="stylesheet" type="text/css" />
<% if rtl %>
	<link href="<% media | raw %>/style-rtl.css" rel="stylesheet" type="text/css" />
<% else %>
	<link href="<% media | raw %>/style-ltr.css" rel="stylesheet" type="text/css" />
<% end %>
<link rel="alternate" type="application/rss+xml" title="RSS Posts" href="http://<%host|raw%><% rss_posts |raw%>" />
<link rel="alternate" type="application/rss+xml" title="RSS Posts" href="http://<%host|raw%><% rss_comments |raw%>" />

</head>
<body>
<div id="page">
<div id="header">
<div id="navall" >
	<% if def langlist %><% include lnglst %><% end %>
	<div id="nav">
		<ul>
			<li><a href="http://cppcms.sourceforge.net/"><% gt 'Project' %></a></li>
			<li><a href="http://cppcms.sourceforge.net/#downloads"><% gt 'Downloads' %></a></li>
			<li><a class="selected" href="<% base_url | raw %>"><% gt 'Home' %></a></li>
		</ul>
	</div>
</div>
<div id="title"><% blog_name %></div>
<div id="slogan"><% blog_description %></div>
</div> <!-- end header -->

<div id="path">

<a href="<% base_url | raw %>"><% gt 'Home' %></a>
&nbsp;/&nbsp;
<a href="<% rss_posts | raw %>"><% gt 'RSS' %></a>
&nbsp;/&nbsp;
<a href="<% rss_comments | raw %>"><% gt 'RSS Comments' %></a>
&nbsp;/&nbsp;
<a href="http://cppcms.sourceforge.net/"><% gt 'Project Site' %></a>
&nbsp;/&nbsp;
<a href="<% admin_url %>"><% gt 'Enter' %></a>
</div>

<% if not rtl %>
	<div id="maincontent">
	<% include ref master_content %>
	</div>
	<div id="sidecontent">
	<% include sidebar %>
	</div>
<% else %>
	<div id="sidecontent">
	<% include sidebar %>
	</div>
	<div id="maincontent">
	<% include ref master_content %>
	</div>
<% end %>

<div id="footer">
	<% if rtl %>
		<div id="footercontact">
			<a href="#"><% gt 'Contact' %></a>
		</div>
	<% end %>
	<div id="copyrightdesign">
		<% gt 'Copyright &copy; 2007 Artyom Tonkikh' %>
		| <% gt 'Based on Design by \la href="http://ContentedDesigns.com"\rContented Designs\l/a\r' %>
	</div>
	<% if not rtl %>
		<div id="footercontact">
			<a href="#"><% gt 'Contact' %></a>
		</div>
	<% end %>
</div>
</div>
</body>
</html>
<% end %>
