<% template master() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><% blog_name %><% if def subtitle %> :: <% subtitle %><% end %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<% media %>/style.css" rel="stylesheet" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS Posts" href="http://<%host%><% rss_posts %>" />

</head>
<body>
<div id="page">
<div id="header">

<ul id="nav">
<li><a href="http://cppcms.sourceforge.net/">Project</a></li>
<li><a href="http://cppcms.sourceforge.net/#downloads">Downloads</a></li>
<li><a class="selected" href="<% base_url %>">Home</a></li>
</ul>

<div id="title"><% blog_name %></div>

<div id="slogan"><% blog_description %></div>

</div> <!-- end header -->

<div id="path">

<a href="<% base_url %>">Home</a>
&nbsp;/&nbsp;
<a href="<% rss_posts %>">RSS</a>
&nbsp;/&nbsp;
<a href="http://cppcms.sourceforge.net/">Project Site</a>
&nbsp;/&nbsp;
<a href="<% admin_url %>">Enter</a>
</div>

<div id="maincontent">
<% include ref master_content %>
</div>

<div id="sidecontent">
<% include sidebar %>
</div>

<div id="footer">
	<div id="copyrightdesign">
		Copyright &copy; 2007 Artyom Tonkikh
		| Based on Design by <a href="http://ContentedDesigns.com">Contented Designs</a>
	</div>
	<div id="footercontact">
		<a href="#">Contact</a>
	</div>
</div>
</div>
</body>
</html>
<% end %>
