<% template comment_preview() %>
	<% if def preview_message_content %>
	<dt><strong><% gt 'Preview of message content:' %></strong></dt>
	<dd><% preview_message_content | ext markdown2html %></dd>
	<% end %>
<% end %>
<% template post() %>
<h1><a href="<% permlink %>"><% title %></a></h1>
<div class="published">
	<% gt '%1%, by %2% ' using date | strftime('%d/%m/%y'), author %>; 
	<% foreach cat in post_cats %>
		<% gt 'Posted in:' %> 
		<% separator %>, <% item %><a href="<% cat.url %>"><% cat.name %></a><% end %>;
	<% end %><a href="#comments_pos"><% ngt 'one comment','%1% comments', comment_count using comment_count %></a>
	<% if def edit_url %>
		| <a href="<% edit_url | raw %>"><% gt 'edit' %></a>
	<%end%>
</div>
<% abstract | ext latex | ext markdown2html %>
<% if def content %>
	<span id="more"></span>
	<% content | ext latex | ext markdown2html %>
<% end %>
<div id="comments">
<span id="comments_pos"></span>
<% foreach comment in comments %>
	<h2><% gt 'Comments' %></h2>
	<dl>
	<% item %>
		<dt>
			<%if def comment.url %><a href="<% comment.url | raw %>"><% comment.username %></a><% else %><% comment.username %><% end %>,
 			<% gt 'at ' %><% comment.date | strftime('%H:%M %d/%m/%y') %>
			<% if def comment.delete_url %>
				| <a href="<% comment.delete_url | raw %>" onclick="return confirm('<% gt 'Are you shure?' %>'); " ><% gt 'delete' %></a>
				| <a href="<% comment.edit_url | raw %>"><% gt 'edit' %></a>
			<% end %>
		</dt>
		<dd>
		<% comment.content | ext markdown2html %>
		</dd>
	<% end %>
		<% include comment_preview %>
	</dl>
<% empty %>
	<dl>
		<% include comment_preview %>
	</dl>
<% end %>
	<h2><% gt 'Add Comment:' %></h2>
	<script type="text/javascript">
	<!--
                /*  Form validation and simple-antispam */
                function set_cookie(c_name,value,expiredays)
                {
                        var exdate=new Date();
                        exdate.setDate(exdate.getDate()+expiredays);
                        document.cookie=c_name+ "=" +escape(value)+
                        ((expiredays==null) ? "" : ";expires="+exdate.toGMTString())+
                        ';path=/';
                }
                function get_cookie(c_name)
                {
                        if (document.cookie.length>0){
                                c_start=document.cookie.indexOf(c_name + "=");
                                if (c_start!=-1){ 
                                        c_start=c_start + c_name.length+1; 
                                        c_end=document.cookie.indexOf(";",c_start);
                                        if (c_end==-1) c_end=document.cookie.length;
                                                return unescape(document.cookie.substring(c_start,c_end));
                                } 
                        }
                        return "";
                }
        	function test_form() 
                {
                        var form=document.getElementById('inp');
                        if(form.username.value.length == 0
                           || form.email.value.length == 0
                           || form.message.value.length  == 0)
                        {
                                alert('<% gt 'Name, E-Mail, Message content are mandatory!' %>');
                                return false; 
                        }
                        else {
                                set_cookie('visitor_name',form.username.value,365);
                                set_cookie('visitor_email',form.email.value,365);
                                set_cookie('visitor_url',form.url.value,365);
                                return true;
                        }
                }
		document.write('<')
		document.write('for' + 'm id=')
		document.write('"inp" act')
		document.write('ion')
		document.write('="')
		document.write('<% post_comment_url_1 %>')
		document.write('<% post_comment_url_2 %>" meth')
		document.write('od="pos')
		document.write('t" onsubmit="return test_form();" >')
	-->
	</script>
		<table>
			<tr>
				<td><% gt 'Name:' %></td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td><% gt 'E-Mail:' %></td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td><% gt 'Site:' %></td>
				<td><input type="text" name="url" /></td>
			</tr>
	 	</table>
		<p>
			<% gt 'You can write your messages using \la href="http://en.wikipedia.org/wiki/Markdown"\rMarkdown\l/a\r syntax.'%> 
		</p>
		<p><textarea name="message" cols="80" rows="10"><% preview_message_content %></textarea></p>
		<p>
			<input type="submit" name="submit" value="<% gt 'Submit' %>" /> 
			<input type="submit" name="preview" value="<% gt 'Preview' %>" />
		</p>
	<script type="text/javascript">
	<!--
		document.write('<')
		document.write('/form>')
	-->
	</script>
	<div id="removecomment">
		<p>
		<% gt 'You must enable JavaScript in order to post comments.' %>
		</p>
	</div>
	<script type="text/javascript">
	<!--
                function setup_form()
                {
              		document.getElementById('removecomment').innerHTML= "";
                        if((name=get_cookie('visitor_name'))!="") {
                                var form=document.getElementById('inp');
                                form.username.value = name ;
                                form.email.value = get_cookie('visitor_email') ;
                                form.url.value = get_cookie('visitor_url') ;
                        }
                }
                setup_form();
	-->
	</script>
</div>
<% end %>
