<div class="post">
        <h1><a href="<% post_permlink %>"><% post_title %></a></h1>
	<div class="description"><% date %>, by <% author %></div>
        <% post_abstract %>
        <% if def content %>
                <% content %>
        <% end %>
</div>
