<h1><a href="<% post_permlink %>"><% post_title %></a></h1>
<div class="published">Publushed at <% date %>, by <% author %></div>
<% post_abstract %>
<% if def content %>
	<span id="more"></span>
	<% content %>
<% end %>
<div id="comments">
<% call get_comment %>
<% if next_comment %>
	<h2>Comments</h2>
	<dl>
	<% repeat %>
		<dt>
			<%if def url %><a href="<% url %>"><% username %></a><% else %><% username %><% end %>,
 			at <% date %>
		</dt>
		<dd>
		<% content %>
		</dd>
	<% call get_comment %>
	<% until not next_comment %>
	</dl>
<% end %>
	<h2>Add Comment:</h2>
	<script type="text/javascript">
	<!--
		document.write('<')
		document.write('for' + 'm ')
		document.write('act')
		document.write('ion')
		document.write('="')
		document.write('<% post_comment_url_1 %>')
		document.write('<% post_comment_url_2 %>" meth')
		document.write('od="pos')
		document.write('t">')
	-->
	</script>
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td>E-Mail:</td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td>Site:</td>
				<td><input type="text" name="url" /></td>
			</tr>
	 	</table>
		<p><textarea name="message" cols="80" rows="10"></textarea></p>
		<p><input type="submit" value="Submit" /></p>
	<script type="text/javascript">
	<!--
		document.write('<')
		document.write('/form>')
	-->
	</script>
	<div id="removecomment">
		<p>
		You must enable JavaScript in order to post comments.
		</p>
	</div>
	<script type="text/javascript">
	<!--
		document.getElementById('removecomment').innerHTML= "";
	-->
	</script>
</div>

