<h2>About</h2>
<p>
CppCMS is a project that aims to make a web development of high load web sites easier.
</p>
<p>
It combines the-state-of-the-art technologies that are rarely used for web development, but very suitable for high performance systems: C++ Programming Language, FastCGI Web Server API.
</p>

<h2>Links</h2>
<ul>
	<li><a href="http://cppcms.sourceforge.net/">CppCMS</a> - Project Web Site</li>
	<li><a href="http://art-blog.no-ip.info/wp/">Artyom Tonkikh</a> - Developer's Personal Blog</li>
</ul>
<h2>Powered By</h2>
<ul>
	<li><a href="http://soci.sourceforge.net/">SOCI</a> - The C++ Database Access Library</li>
	<li><a href="http://www.fastcgi.com/">Fast CGI</a> - High Performance Platform Independent Web Server API</li>
	<li><a href="http://www.boost.org/">Boost</a> - High Quality C++ Libraries</li>
	<li><a href="http://www.gnu.org/software/cgicc/">GNU CgiCC</a> - CGI C++ Library</li>
</ul>
